:root {
    --primary-color: #0a2463ff;
    --secondary-color: #fb3640ff;
    --accent1-color: #605f5eff;
    --accent2-color: #247BA0; 

    --font-family: 'Roboto Serif', serif;
    
    --back-ground-color: #0a2463ff;
    --link-color:#fb3640ff;
    --header-footer-background-color:#605f5eff;
    --border-radius: 5px;
    
    --image-border: 2px solid
}

h1 {
    color: black;
}
p {
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--primary-color)
}
.hero {
    max-width: 800px;
    margin: 30px;
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    bottom: 150px;
    left: 200px;
    width: 500px;
    margin: 20px;
    background-color: cadetblue;
    border: 5px solid black
}
 
article {
    position: absolute;
    bottom: 50px;
    left: 400px;
    width: 350px;
    padding: 5px;
    border: var(--image-border);
    background-color: var(--background-color);
}

.hero article img {
    float: right;
    width: 100px;
}

header {
    display: grid;
    background-color: var(--secondary-color)
    padding 10px 20px;
    margin: 1rem auto
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
nav {
    display: flex;
    align-items: right;
    justify-content: center;
    gap: 10px;
}

.history {
    display: flex;
    align-items: center;
}

section {
    margin: 20px;
}

