:root {
    --primary-color: #0a2463ff;
    --secondary-color: #fb3640ff;
    --accent1-color: #605f5eff;
    --accent2-color: #247BA0; 

    --background-color: #0a2463ff;
    --link-color:#fb3640ff;
    --header-footer-background-color:#605f5eff;
    --border-radius: 5px;
    --image-border: 2px solid;
}
  
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    color: black;
}
article p {
    color: white;
}

a.sociallinks {
    text-decoration: none;
    color: var(--primary-color);
}
.herodiv {
    width: 100%;
    margin: 30px 0;
    position: relative;
}
.herodiv img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    margin: 0;
}

h1 {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
    background-color: transparent;
}
 
.herodiv article {
    position: absolute;
    bottom: 50px;
    width: 80%;
    height: auto;
    text-align: center;
    border: var(--image-border);
    background-color: var(--header-footer-background-color);
}

.herodiv article img {
    float: right;
    width: 100px;

}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin: 1rem auto;
}


nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    gap: 10px;
}

li {
    list-style: none;
}



